@font-face {
  font-family: 'Cera Light';
  src: url(../fonts/CeraPro/Cera-Pro-Light.otf); }
@font-face {
  font-family: 'Cera Regular Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Regular-Italic.otf); }
@font-face {
  font-family: 'Cera Medium';
  src: url(../fonts/CeraPro/Cera-Pro-Medium.otf); }
@font-face {
  font-family: 'Cera Bold';
  src: url(../fonts/CeraPro/Cera-Pro-Bold.otf); }
@font-face {
  font-family: 'Cera Black';
  src: url(../fonts/CeraPro/Cera-Pro-Black.otf); }
@font-face {
  font-family: 'Cera Black Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Black-Italic.otf); }
.transition-circle#events-page {
  /* General
  ********************************************************************* */ }
  .transition-circle#events-page .container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }
  .transition-circle#events-page .column, .transition-circle#events-page .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }
  .transition-circle#events-page h1, .transition-circle#events-page h2, .transition-circle#events-page h3, .transition-circle#events-page h4, .transition-circle#events-page h5, .transition-circle#events-page h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300; }
  .transition-circle#events-page h1 {
    font-size: 6.0em;
    line-height: 1;
    letter-spacing: -.1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #c7a05b;
    margin-bottom: 20px;
    font-family: 'Cera Medium', sans-serif; }
  .transition-circle#events-page h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem; }
  .transition-circle#events-page h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    text-align: center; }
  .transition-circle#events-page h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem; }
  .transition-circle#events-page h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem; }
  .transition-circle#events-page h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0; }
  .transition-circle#events-page p {
    margin-top: 0; }
  .transition-circle#events-page .days, .transition-circle#events-page .hours, .transition-circle#events-page .minutes, .transition-circle#events-page .seconds {
    font-size: 8em;
    font-weight: bold;
    text-align: center;
    border-top: 3px solid #fff;
    margin-top: 30px; }
  .transition-circle#events-page header {
    overflow: hidden;
    padding: 20px 0 50px 0; }
  .transition-circle#events-page .icon {
    font-size: 6.5em; }
  .transition-circle#events-page img {
    width: 100%;
    height: auto; }
  .transition-circle#events-page .btn {
    background: #434443;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    color: #ffffff;
    font-size: 1.4em;
    padding: 14px 30px 14px 30px;
    text-decoration: none;
    border: 0;
    margin: 20px 20px 0 0; }
  .transition-circle#events-page .btn:hover {
    background: #27B6C7;
    text-decoration: none; }
  .transition-circle#events-page #device {
    padding-top: 150px; }
  .transition-circle#events-page footer {
    background: #434443;
    min-height: 100px;
    padding: 50px 0 50px 0; }
  .transition-circle#events-page footer hr {
    border: 2px solid #27B6C7;
    border-image: none; }
  .transition-circle#events-page footer p {
    color: #FFFFFF;
    margin: 0;
    display: inline; }
  .transition-circle#events-page footer h4 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1.6em; }
  .transition-circle#events-page .socialIcons {
    font-size: 1.8em;
    color: #ffffff; }
  .transition-circle#events-page #map {
    width: 100%;
    min-height: 400px; }

.transition-circle#event-page {
  background: #252527; }

.transition-circle#event-page.active {
  clip-path: circle(75%); }

/*# sourceMappingURL=eventPage.css.map */
