@import 'signinForm/signinForm';
@import 'locations/locations';

@mixin container() {
  @media (max-width: 1920px) and (max-height: 1080px) {   
    .container {
      display: flex;
      justify-content: space-around;
      #one, #two {
        width: 500px;
        height: 250px;
        h1 {
          margin-top: 10px;
          text-align: center;
          font-family: 'Cera Medium';
          font-size: 2em;
          margin-bottom: 20px;
        }
        @include signinForm();
      }
      #one h4, #two h4{
        text-transform: uppercase;
        font-family: 'Cera Light';
        text-align: center;
      }
      @include locations();
      hr {
        border: .15em solid black;
      }
    }
  }
  
  @media (max-width: 1366px) and (max-height: 768px) { 
    .container #one, #two {
      width: 500px;
      height: 250px;
      h1 {
        margin-top: 10px;
        font-size: 2em;
        margin-bottom: 20px;
      }
    }
    hr {
      border: .15em solid black;
    }
  }
  
  @media (max-width: 768px) and (max-height: 1024px) { 
    .container {
      flex-direction: column;
      height: 80vh;
      justify-content: start;
      #one, #two {
        height: 250px;
        width: 100vw;
        h1 {
          margin-top: 10px;
          font-size: 2em;
          margin-bottom: 20px;
        }
      }
      #two h4 {
        margin-top: 2vh;
      }
    }
    hr {
      border: .15em solid black;
    }
  }
  
  @media (max-width: 375px) and (max-height: 667px) { 
    .container #one, #two {
      height: 250px;
      h1 {
        margin-top: 10px;
        font-size: 2em;
        margin-bottom: 20px;
      }
    }
    hr {
      border: .15em solid black;
    }
  }
  
  @media (max-width: 360px) and (max-height: 720px) { 
    .container #one, #two {
      height: 250px;
      h1 {
        margin-top: 10px;
        font-size: 2em;
        margin-bottom: 20px;
      }
    }
    hr {
      border: .15em solid black;
    }
  }
  
  @media (max-width: 360px) and (max-height: 640px) { 
    .container {
      height: 88%;
      justify-content: flex-start;
      #one, #two {
        width: 100vw;
      }
      #two > h4 {
        margin-top: 10vh;
      }
      h1 {
        margin-top: 10px;
        font-size: 1.8em;
        margin-bottom: 20px;
      }
    }
    hr {
      border: .15em solid black;
    }
  }
  @media (max-width: 240px) and (max-height: 320px) { 
    .container {
      height: 88%;
      justify-content: flex-start;
      #one, #two {
        width: 100vw;
      }
      #two > h4 {
        margin-top: 10vh;
        font-size: .85em;
        margin-bottom: 5vh;
      }
      #one h1 {
        margin-top: 10px;
        font-size: 1.25em;
        margin-bottom: 10px;
      }
    }
  }
}