@import 'bottom/bottom';
@import 'container';

@media (max-width: 1920px) and (max-height: 1080px) { 
  footer {
    padding-top: 115px;
    background: linear-gradient(-45deg, #facc6b 0%, #fabc3c 94%);
    height: 70vh;
    @include container();
    @include bottom();
  }
}

@media (max-width: 1366px) and (max-height: 768px) { 
  footer {
    padding-top: 115px;
    height: 70vh;
  }
}

@media (max-width: 768px) and (max-height: 1024px) { 
  footer {
    padding-top: 5vh;
    height: 93vh;
  }
}

@media (max-width: 375px) and (max-height: 667px) { 
  footer {
    padding-top: 115px;
    height: 70vh;
  }
}

@media (max-width: 360px) and (max-height: 720px) { 
  footer {
    padding-top: 115px;
    height: 70vh;
  }
}

@media (max-width: 360px) and (max-height: 640px) { 
  footer {
    padding-top: 8vh;
    height: 150vh;
    hr {
      display: none;
    }
  }
}

@media (max-width: 320px) and (max-height: 480px) { 
  footer {
    padding-top: 8vh;
    height: 205vh;
    hr {
      display: none;
    }
  }
}

@media (max-width: 240px) and (max-height: 320px) { 
  footer {
    padding-top: 8vh;
    height: 280vh;
  }
}