@import 'bottom/bottom';
@import 'container';

footer {
  padding-top: 115px;
  background: linear-gradient(-45deg, #facc6b 0%, #fabc3c 94%);
  height: 70vh;
  @include container();
  @include bottom();
}

