@import 'bottomPart/footerBottom';

@mixin footerArc(
  $height,
  $paddTop, $rowWidth, 
  $rowHeight, $btnPadd, 
  $btnFontSize, $btnRadius,
  $btnTop, $btnLeft,
  $inputPadd, $inputWidth, 
  $inputFontSize, $inputGap,
  $labelFontSize, $labelTop, 
  $labelLeft, $labelFocusTop, 
  $labelFocusFontSize, $inputLine,
  $titleTop, $titleFontSize, $titleBot, 
  $locationTop, $locationSize, 
  $locationLinkLeft, $locationIconSize, 
  $locationTitleFontSize, 
  $locationAddressFontSize,
  $lineSize, $navHeight, 
  $navWidth, $navLinkFontSize,
  $socialIconSize, $socialIconGap,
  ) {
  footer {
    padding-top: $paddTop;
    background: linear-gradient(-45deg, #facc6b 0%, #fabc3c 94%);
    height: 70vh;
    .container {
      display: flex;
      justify-content: space-around;
      .row {
        width: $rowWidth;
        height: $rowHeight;
        button {
          margin-top: $btnTop;
          margin-left: $btnLeft;
          font-family: 'Cera Medium', sans-serif;
          padding: $btnPadd;
          cursor: pointer;
          transition: all 150ms linear;
          border-radius: $btnRadius;
          font-size: $btnFontSize;
          color: $fontColor;
          background: black;
          &:focus {
            outline: 1px dotted #959595;
            outline-offset: -4px;
          }
          &:hover {
            color: #202129;
            background: $fontColor;
          }   
          &:active {
            background: #d5d6d6;
          }
        }
        form { 
          display: flex;
        }
        .group { 
          position:relative;  
        }
        input{
          margin: 0 $inputGap;
          font-size: $inputFontSize;
          padding: $inputPadd;
          width: $inputWidth;
          border:none;
          background: transparent;
          border-bottom: $inputLine black solid;
        }
        input:focus{ 
          outline:none; 
        }
        label{
          top: $labelTop;
          left: $labelLeft;
          font-family: 'Cera Light';
          color: black; 
          font-size: $labelFontSize;
          position: absolute;
          pointer-events: none;
          transition:0.2s ease all; 
        }      
        input:focus ~ label, input:valid ~ label{
          top: $labelFocusTop;
          font-size: $labelFocusFontSize;
          color:$bgColor;
        }
      }
      .row:first-child h4, .row:last-child h4{
        text-transform: uppercase;
        font-family: 'Cera Light';
        text-align: center;
      }
      .row:first-child {
        h1 {
          margin-top: $titleTop;
          text-align: center;
          font-family: 'Cera Medium';
          font-size: $titleFontSize;
          margin-bottom: $titleBot;
        }
      }
      .row:last-child .location{
        display: flex;
        margin-top: $locationTop;
        justify-content: space-around;
        .col{
          display: flex;
          flex-direction: column;
          width: $locationSize;
          height: $locationSize;
          a {
            color: black;
            font-family: 'Cera Light';
            margin-left: $locationLinkLeft;
            text-decoration: underline;
          }
          img {
            height: $locationIconSize;
          }
        }
      }
      hr {
        border: $lineSize solid black;
      }
      h2 {
        text-align: center;
        font-family: 'Cera Medium';
        font-size: $locationTitleFontSize;
      }
      h4 {
        font-size: $locationAddressFontSize;
        text-align: center;
        font-family: 'Cera Light';
        letter-spacing: .1em;
      }
    }
    @include footerBottom($navHeight, $navWidth, $navLinkFontSize, $socialIconGap, $socialIconSize);
  }
}


@include footerArc(
  70vh,
  115px,      // paddTop
  500px,      // rowWidth
  250px,      // rowHeight
  12px 25px,  // btnPadd
  .9em,       // btnFontSize
  20px,       // btnRadius
  20px,       // btnTop
  220px,      // btnLeft
  10px 5px,   // inputPadd
  220px,      // inputWidth
  1em,        // inputFontSize
  15px,       // inputGap
  1em,        // labelFontSize
  10px,       // labelTop
  20px,       // labelLeft
  -15px,      // labelFocusTop
  .85em,      // labelFocusFontSize
  .15em,      // inputLine
  20px,       // titleTop
  2em,        // titleFontSize
  20px,       // titleBot
  30px,       // locationTop
  200px,      // locationSize
  25%,        // locationLinkLeft
  80px,       // locationIconSize
  1.25em,     // locationTitleFontSize
  .95em,      // locationAddressFontSize
  .15em,      // lineSize
  115px,      // navHeight
  600px,      // navWidth
  1em,        // navLinkFontSize
  25px,       // socialIconSize
  20px,       // socialIconGap
);