@import 'var';

.hexagon {
  font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1280 - 320));
  transform-origin: bottom center;
  color: $primaryColor;
  background: $bgColor;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  #{&}__group, #{&}__sector, #{&}__sector:before, #{&}__sector:after {
    position: absolute;
  }
  #{&}__group {
    width: 100%;
    height: 100%;
  }
  #{&}__group:nth-child(2) #{&}__sector,
  #{&}__group:nth-child(2) #{&}__sector:before,
  #{&}__group:nth-child(2) #{&}__sector:after {
    animation-delay: calc(8s * -1/6);
  }
  #{&}__group:nth-child(3) #{&}__sector,
  #{&}__group:nth-child(3) #{&}__sector:before,
  #{&}__group:nth-child(3) #{&}__sector:after {
    animation-delay: calc(8s * -2/6);
  }
  #{&}__group:nth-child(4) #{&}__sector,
  #{&}__group:nth-child(4) #{&}__sector:before,
  #{&}__group:nth-child(4) #{&}__sector:after {
    animation-delay: calc(8s * -3/6);
  }
  #{&}__group:nth-child(5) #{&}__sector,
  #{&}__group:nth-child(5) #{&}__sector:before,
  #{&}__group:nth-child(5) #{&}__sector:after {
    animation-delay: calc(8s * -4/6);
  }
  #{&}__group:nth-child(6) #{&}__sector,
  #{&}__group:nth-child(6) #{&}__sector:before,
  #{&}__group:nth-child(6) #{&}__sector:after {
    animation-delay: calc(8s * -5/6);
  }
  #{&}__group:nth-child(odd) {
    transform: rotate(30deg);
  }
  #{&}__sector, #{&}__sector:before, #{&}__sector:after {
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 0.2em;
    height: 0.2em;
  }
  #{&}__sector {
    animation-name: moveOut1;
    top: calc(50% - 0.1em);
    left: calc(50% - 0.1em);
  }
  #{&}__sector:nth-child(2) {
    animation-name: moveOut2;
  }
  #{&}__sector:nth-child(3) {
    animation-name: moveOut3;
  }
  #{&}__sector:nth-child(4) {
    animation-name: moveOut4;
  }
  #{&}__sector:nth-child(5) {
    animation-name: moveOut5;
  }
  #{&}__sector:nth-child(6) {
    animation-name: moveOut6;
  }
  #{&}__sector:before, #{&}__sector:after {
    animation-name: ripple;
    background-color: currentColor;
    border-radius: 0.1em;
    content: "";
    display: block;
    top: 0;
    left: 0;
    transform-origin: 0.1em 0.1em;
  }
  #{&}__sector:before {
    transform: rotate(-30deg);
  }
  #{&}__sector:after {
    transform: rotate(-150deg);
  }
}

/* Animations */
@keyframes moveOut1 {
  from { 
    transform: translateY(0) scale(0); 
  }
  3% { 
    transform: translateY(0.2em) scale(1); 
  }
  97% { 
    transform: translateY(7.3em) scale(1); 
  }
  to {
    transform: translateY(7.5em) scale(0); 
  }
}
@keyframes moveOut2 {
  from { 
    transform: rotate(60deg) translateY(0) scale(0);
  }
  3% { 
    transform: rotate(60deg) translateY(0.2em) scale(1); 
  }
  97% { 
    transform: rotate(60deg) translateY(7.3em) scale(1); 
  }
  to { 
    transform: rotate(60deg) translateY(7.5em) scale(0); 
  }
}
@keyframes moveOut3 {
  from { 
    transform: rotate(120deg) translateY(0) scale(0); 
  }
  3% { 
    transform: rotate(120deg) translateY(0.2em) scale(1); 
  }
  97% { 
    transform: rotate(120deg) translateY(7.3em) scale(1); 
  }
  to { 
    transform: rotate(120deg) translateY(7.5em) scale(0); 
  }
}
@keyframes moveOut4 {
  from { 
    transform: rotate(180deg) translateY(0) scale(0); 
  }
  3% { 
    transform: rotate(180deg) translateY(0.2em) scale(1); 
  }
  97% { 
    transform: rotate(180deg) translateY(7.3em) scale(1); 
  }
  to { 
    transform: rotate(180deg) translateY(7.5em) scale(0); 
  }
}
@keyframes moveOut5 {
  from { 
    transform: rotate(240deg) translateY(0) scale(0); 
  }
  3% { 
    transform: rotate(240deg) translateY(0.2em) scale(1); 
  }
  97% { 
    transform: rotate(240deg) translateY(7.3em) scale(1); 
  }
  to { 
    transform: rotate(240deg) translateY(7.5em) scale(0); 
  }
}
@keyframes moveOut6 {
  from { 
    transform: rotate(300deg) translateY(0) scale(0); 
  }
  3% { 
    transform: rotate(300deg) translateY(0.2em) scale(1);
  }
  97% { 
    transform: rotate(300deg) translateY(7.3em) scale(1);
  }
  to { 
    transform: rotate(300deg) translateY(7.5em) scale(0); 
  }
}
@keyframes ripple {
  from, to { 
    width: 0.2em; 
  }
  33% { 
    width: 2.4em;
  }
}