@import 'landingMoreInfo', 'landingMoreButton';

@mixin landingHeadings(
  $left, $gap, $fontSize, 
  $btnPadding, $btnLeft, $bigHeadingTop,
  $infoWidth, $infoLeft, $infoTop,
  $infoRadius, $infoTopActive, $infoHeightActive,
  $infoPaddingActive, $infoBorderActive
  ) {
  .main-content {
    .main-headings {
      display: flex;
      flex-direction: column;
      animation: scaleDown 4s ease 2s;
      -webkit-animation: scaleDown 4s ease 2s;
      transition: transform .3s ease;
      div {
        margin-left: $left;
        margin-right: $gap;
        h3 {
          font-family: 'Cera Light';
          font-size: $fontSize;
        }
        :first-child {
          margin-left: 70px;
        }
        :nth-child(2) {
          margin-left: 120px;
        }
        @include bigHeading($fontSize, $bigHeadingTop);
      }
      @include moreButton($btnLeft, $fontSize, $btnPadding); // left // fontSize // btnPadding
    }
    .main-headings.active {
      transform: scale(0.7);
    }
    @include landingMore(
      $infoWidth, $infoLeft, $infoTop, $infoRadius, 
      $infoTopActive, $infoHeightActive, 
      $infoPaddingActive, $infoBorderActive
      ); // width
  }
}

@mixin bigHeading($fontSize, $top) {
  h1 {
    margin-top: $top;
    font-size: $fontSize * 2;
    font-weight: 800;
    letter-spacing: 2px;
    color: $primaryColor;
    text-shadow: 0 2px 0 rgb(22, 22, 22),
           0 2px 0 #1a1a1a,
           0 3px 0 rgb(29, 29, 29),
           0 4px 0 #272727,
           0 5px 0 rgb(26, 26, 26),
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
  }
}