@import '../../../utils/fontface', '../../../utils/variables';
@import 'landingHeadings', 'landingAnim';

@mixin landingArc(
  $top, $left, $imgSize, 
  $headingLeft, $headingRight, $fontSize, 
  $btnFontSize,
  $headingOneLeft, $headingTwoLeft,
  $btnPadd, $btnLeft, $bigHeadingTop,
  $infoWidth, $infoLeft, $infoTop,
  $infoRadius, $infoTopActive, $infoHeightActive,
  $infoPaddingActive, $infoBorderActive
  ) {
  #landing {
    margin-top: $top;
    margin-left: $left;
    height: 100vh;
    color: $fontColor;
    .container-inner {
      display: flex;
      animation: fade-in 1.5s ease, slide-in 1.2s ease;
      @include landingHeadings(
        $headingLeft, $headingRight, $fontSize, 
        $btnFontSize, $headingOneLeft, $headingTwoLeft,
        $btnPadd, $btnLeft, $bigHeadingTop,
        $infoWidth, $infoLeft, $infoTop,
        $infoRadius, $infoTopActive, $infoHeightActive,
        $infoPaddingActive, $infoBorderActive
      );
      img {
        width: $imgSize;
        height: auto;
      }
    }
    .move-down {
      position: absolute;
      left: 50%;
      bottom: 7%;
      a {
        color: $fontColor;
        :hover {
          color: $primaryColor;
        }
      }
    }
  }
  @include landingAnim();
}