@font-face {
  font-family: 'Cera Light';
  src: url(../fonts/Cera-Pro-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: 'Cera Regular Italic';
  src: url(../fonts/Cera-Pro-Regular-Italic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Cera Medium';
  src: url(../fonts/Cera-Pro-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: 'Cera Bold';
  src: url(../fonts/Cera-Pro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: 'Cera Black';
  src: url(../fonts/Cera-Pro-Black.otf);
  font-weight: 900;
}
@font-face {
  font-family: 'Cera Black Italic';
  src: url(../fonts/Cera-Pro-Black-Italic.otf);
  font-weight: 900;
  font-style: italic;
}