@font-face {
  font-family: 'Cera Light';
  src: url(../fonts/CeraPro/Cera-Pro-Light.otf);
}
@font-face {
  font-family: 'Cera Regular Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Regular-Italic.otf);
}
@font-face {
  font-family: 'Cera Medium';
  src: url(../fonts/CeraPro/Cera-Pro-Medium.otf);
}
@font-face {
  font-family: 'Cera Bold';
  src: url(../fonts/CeraPro/Cera-Pro-Bold.otf);
}
@font-face {
  font-family: 'Cera Black';
  src: url(../fonts/CeraPro/Cera-Pro-Black.otf);
}
@font-face {
  font-family: 'Cera Black Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Black-Italic.otf);
}