// Colors
$fontColor: whitesmoke;
$primaryColor: #c7a05b;
$lightColor: #808080;
$bgColor: #252527;
$accentColor: #23d8a0;

// Layers
$navButtonLayer: 2;
$navLayer: 5;
$navDotLayer: 5;
$darkWrapper: 6;
$topImgLayer: 3;

// Scrollbar
$scrollRadius: 10px;
$scrollWidth: 8px;

// Image View Modal
$imgViewModalHeight: 70%;

// Nav Button
$navButtonRight: 30px;
$navButtonSize: 50px;
// Nav List
$navListWidth: 140px;
$navListHeight: 50px;
$navFont: 'Cera Medium';
$navFontSize: .85em;
$navLinkGap: 30px;
$navListRight: 280px;

// Nav Side Dot
$navDotSize: 8px;
$navDotGap: 25px;