* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth; }

@font-face {
  font-family: 'Cera Light';
  src: url(../fonts/Cera-Pro-Light.otf);
  font-weight: 300; }
@font-face {
  font-family: 'Cera Regular Italic';
  src: url(../fonts/Cera-Pro-Regular-Italic.otf);
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Cera Medium';
  src: url(../fonts/Cera-Pro-Medium.otf);
  font-weight: 500; }
@font-face {
  font-family: 'Cera Bold';
  src: url(../fonts/Cera-Pro-Bold.otf);
  font-weight: 700; }
@font-face {
  font-family: 'Cera Black';
  src: url(../fonts/Cera-Pro-Black.otf);
  font-weight: 900; }
@font-face {
  font-family: 'Cera Black Italic';
  src: url(../fonts/Cera-Pro-Black-Italic.otf);
  font-weight: 900;
  font-style: italic; }
#landing {
  margin: 0 auto;
  padding-top: 75px;
  width: 90vw;
  height: 100vh;
  font-size: 1em;
  color: whitesmoke; }
  #landing .container-inner {
    display: flex;
    position: relative;
    align-items: center;
    animation: fade-in 1.5s ease, slide-in 1.2s ease; }
    #landing .container-inner .main-content {
      display: flex;
      flex-direction: column; }
      #landing .container-inner .main-content .main-headings {
        width: 100%;
        display: flex;
        flex-direction: column;
        animation: scaleDown 4s ease 2s;
        -webkit-animation: scaleDown 4s ease 2s;
        transition: transform .3s ease; }
        #landing .container-inner .main-content .main-headings div {
          margin-top: 10px;
          margin-left: 100px; }
          #landing .container-inner .main-content .main-headings div :first-child, #landing .container-inner .main-content .main-headings div :nth-child(2) {
            font-family: 'Cera Light';
            font-size: 400%; }
          #landing .container-inner .main-content .main-headings div :first-child {
            margin-left: 70px; }
          #landing .container-inner .main-content .main-headings div :nth-child(2) {
            margin-left: 120px; }
          #landing .container-inner .main-content .main-headings div :last-child {
            margin-top: -52px;
            font-size: 800%;
            font-weight: 800;
            letter-spacing: 2px;
            color: #c7a05b; }
        #landing .container-inner .main-content .main-headings button {
          cursor: pointer;
          padding: 10px;
          margin-left: 110px;
          align-self: flex-start;
          font-weight: bold;
          font-size: 120%;
          font-family: 'Cera Medium';
          text-decoration: none;
          color: #c7a05b;
          background: transparent; }
      #landing .container-inner .main-content .more-info {
        margin-top: -30px;
        width: 50%;
        height: 0;
        margin-left: 180px;
        margin-right: auto;
        overflow: hidden;
        animation: reveal-info 3s ease 2s;
        -webkit-animation: reveal-info 3s ease 2s;
        transition: height .3s ease; }
        #landing .container-inner .main-content .more-info h2 {
          font-family: 'Cera Medium'; }
        #landing .container-inner .main-content .more-info p {
          font-family: 'Cera Light'; }
    #landing .container-inner .image-wrapper {
      margin-top: 75px;
      width: 80%;
      height: 80%;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      #landing .container-inner .image-wrapper img {
        width: 70%;
        height: auto;
        position: relative;
        cursor: pointer; }
  #landing .move-down {
    position: absolute;
    left: 50%;
    bottom: 7%; }
    #landing .move-down a {
      color: whitesmoke; }
      #landing .move-down a :hover {
        color: #c7a05b; }

@media (min-width: 350px) and (max-width: 529px) {
  * {
    animation-name: none !important; }

  article.container {
    width: 90%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 5px;
    margin-bottom: 20px; }

  .container-inner {
    flex-direction: column !important;
    justify-content: center !important; }

  .main-content, .image-wrapper {
    flex-basis: 100% !important; }

  .main-content {
    order: 2 !important;
    outline: 1px solid red;
    margin: 0 50px; }

  .image-wrapper {
    order: 1 !important; }

  .heading {
    margin-left: 55px !important; }

  #heading1, #heading2 {
    margin: 0;
    margin-top: -5px !important; }

  #heading2 {
    margin-left: 100px !important; }

  #heading3 {
    margin-top: -20px !important; }

  .short-bio {
    margin-top: -10px !important;
    margin-left: 60px !important; }

  .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    font-size: 8px; }

  .link {
    display: none; }

  .image-wrapper {
    order: 1 !important;
    width: 100%;
    height: 100px !important;
    justify-content: center !important; }

  .image-container {
    width: 100% !important;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    margin-left: auto;
    margin-right: auto; } }
@media (min-width: 530px) and (max-width: 699px) {
  * {
    animation-name: none !important; }

  #landing {
    width: 90%;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 8px; }

  .container-inner {
    flex-direction: column !important;
    justify-content: center !important; }

  .main-content, .image-wrapper {
    flex-basis: 100% !important; }

  .main-content {
    width: 80%;
    order: 2 !important;
    align-self: center !important; }

  .main-headings {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; }

  .heading {
    margin-left: 55px !important; }

  #heading1, #heading2 {
    margin: 0;
    margin-top: -15px !important; }

  #heading3 {
    margin-top: -30px !important; }

  .short-bio {
    margin-top: -20px !important;
    margin-left: 60px !important; }

  .link {
    display: none; }

  .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    text-align: justify; }

  .image-wrapper {
    order: 1 !important;
    width: 100%;
    height: 400px;
    justify-content: center !important; }

  .image-container {
    width: 100% !important;
    height: 400px;
    margin-left: auto;
    margin-right: auto; }

  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    margin-left: auto;
    margin-right: auto; } }
@media (min-width: 700px) and (max-width: 1200px) {
  #landing {
    width: 100%;
    height: auto;
    font-size: 9px; }

  #heading3 {
    margin-top: -35px !important; }

  .link {
    margin-left: 30px; }

  .more-info {
    margin-top: -40px !important; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes slide-in {
  0% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(0); } }
@keyframes scaleDown {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(0.7); }
  95% {
    transform: scale(0.7); }
  100% {
    transform: scale(1); } }
@keyframes reveal-info {
  0% {
    height: 0; }
  5% {
    height: 150px; }
  95% {
    height: 150px; }
  100% {
    height: 0; } }
#home {
  display: flex;
  flex-direction: row;
  height: 90vh;
  justify-content: space-between;
  align-items: center; }
  #home #home__right span {
    color: #808080; }
  #home #home__right h4#first {
    font-family: 'Cera Light';
    color: whitesmoke;
    font-size: .95em;
    margin-right: 200px;
    text-align: right;
    margin-bottom: 150px; }
  #home #home__right h4#second {
    font-family: 'Cera Light';
    color: whitesmoke;
    font-size: 1em;
    margin-right: 200px;
    text-align: right; }
  #home #home__left img {
    opacity: 0.05;
    transform: scaleX(-1);
    height: 400px;
    margin-left: 100px; }
  #home .img-box {
    display: flex;
    flex-direction: column; }
    #home .img-box :first-child {
      height: 200px;
      width: 200px;
      transform: translateY(60px);
      transition: 1s ease;
      animation: idleup 7s infinite;
      z-index: 3; }
@keyframes idleup {
  0% {
    transform: translateY(-20px); }
  50% {
    transform: translateY(50px); }
  100% {
    transform: translateY(-20px); } }
    #home .img-box :first-child:hover {
      transform: translateY(0px); }
    #home .img-box :nth-child(2) {
      height: 200px;
      width: 200px;
      transform: translateY(-40px); }
    #home .img-box :last-child {
      height: 190px;
      width: 190px;
      transform: translateY(-130px);
      transition: 1s ease;
      animation: idledown 7s infinite; }
@keyframes idledown {
  0% {
    transform: translateY(-30px); }
  50% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(-30px); } }
    #home .img-box :last-child:hover {
      transform: translateY(-70px); }
  #home #scrolldown1 {
    font-family: 'Cera Medium';
    font-size: .95em;
    position: absolute;
    transform: translateY(215px) translateX(30px) rotate(-90deg);
    text-decoration: none;
    color: whitesmoke; }

@font-face {
  font-family: 'Cera Light';
  src: url(../fonts/Cera-Pro-Light.otf);
  font-weight: 300; }
@font-face {
  font-family: 'Cera Regular Italic';
  src: url(../fonts/Cera-Pro-Regular-Italic.otf);
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Cera Medium';
  src: url(../fonts/Cera-Pro-Medium.otf);
  font-weight: 500; }
@font-face {
  font-family: 'Cera Bold';
  src: url(../fonts/Cera-Pro-Bold.otf);
  font-weight: 700; }
@font-face {
  font-family: 'Cera Black';
  src: url(../fonts/Cera-Pro-Black.otf);
  font-weight: 900; }
@font-face {
  font-family: 'Cera Black Italic';
  src: url(../fonts/Cera-Pro-Black-Italic.otf);
  font-weight: 900;
  font-style: italic; }
.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw; }
  .section :first-child.slide-section {
    transform: translateX(-100px);
    opacity: 0;
    transition: 1s ease-out;
    line-height: 1.5em;
    font-size: 1.25em;
    width: 500px;
    font-family: 'Cera Light';
    color: whitesmoke;
    text-align: right; }
  .section :first-child.slide-section.faded-in {
    transform: translateX(0);
    opacity: 1; }
  .section :last-child.slide-section {
    line-height: 1.5em;
    font-size: 1.25em;
    width: 500px;
    font-family: 'Cera Light';
    color: whitesmoke;
    text-align: right;
    transform: translateX(100px);
    opacity: 0;
    transition: 1s ease-out; }
  .section :last-child.slide-section.faded-in {
    transform: translateX(0);
    opacity: 1; }

@font-face {
  font-family: 'Cera Light';
  src: url(../fonts/Cera-Pro-Light.otf);
  font-weight: 300; }
@font-face {
  font-family: 'Cera Regular Italic';
  src: url(../fonts/Cera-Pro-Regular-Italic.otf);
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Cera Medium';
  src: url(../fonts/Cera-Pro-Medium.otf);
  font-weight: 500; }
@font-face {
  font-family: 'Cera Bold';
  src: url(../fonts/Cera-Pro-Bold.otf);
  font-weight: 700; }
@font-face {
  font-family: 'Cera Black';
  src: url(../fonts/Cera-Pro-Black.otf);
  font-weight: 900; }
@font-face {
  font-family: 'Cera Black Italic';
  src: url(../fonts/Cera-Pro-Black-Italic.otf);
  font-weight: 900;
  font-style: italic; }
#navmenu {
  position: fixed;
  left: 1225px;
  top: 25px;
  opacity: 1;
  z-index: 5; }
  #navmenu .list-container {
    position: relative; }
    #navmenu .list-container button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-size: 1.5em;
      background: #252527;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 0;
      cursor: pointer;
      transition: 0.2s ease-in;
      z-index: 2; }
      #navmenu .list-container button .menu-icon-wrapper {
        border-radius: 2px;
        width: 20px;
        height: 20px;
        display: inherit;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform .33s ease-out; }
        #navmenu .list-container button .menu-icon-wrapper span {
          background: whitesmoke;
          border-radius: 2px;
          width: 100%;
          height: 2px; }
        #navmenu .list-container button .menu-icon-wrapper :first-child {
          transition: transform 0.3s cubic-bezier(0.52, -0.8, 0.52, 0.52);
          transform-origin: right;
          width: 50%; }
        #navmenu .list-container button .menu-icon-wrapper :last-child {
          align-self: flex-end;
          transition: transform 0.3s cubic-bezier(0.52, -0.8, 0.52, 0.52);
          transform-origin: left;
          width: 50%; }
    #navmenu .list-container ul {
      display: flex;
      list-style-type: none;
      width: 140px;
      height: 170px;
      padding: 6px;
      position: absolute;
      right: 285px;
      top: 0;
      opacity: 0;
      transform: scale(0);
      transform-origin: top right;
      transition: all 0.3s ease 0.1s; }
      #navmenu .list-container ul li {
        opacity: 0;
        padding: 10px;
        border-radius: 4px;
        position: relative;
        transition: 0.2s ease-in;
        transform: translatex(-10px); }
        #navmenu .list-container ul li a {
          text-decoration: none;
          color: whitesmoke;
          text-transform: uppercase;
          display: inline-block;
          font-family: 'Cera Medium';
          line-height: 1.25em;
          font-size: .85em;
          margin-left: 20px;
          transition: color .3s ease; }
        #navmenu .list-container ul li a:hover {
          color: #c7a05b; }
  #navmenu .list-container.active ul {
    opacity: 1;
    transform: scale(1); }
    #navmenu .list-container.active ul li {
      animation: fadeInItem 0.6s 0.2s forwards; }
    #navmenu .list-container.active ul li:nth-child(2) {
      animation-delay: 0.4s; }
    #navmenu .list-container.active ul li:nth-child(3) {
      animation-delay: 0.6s; }
    #navmenu .list-container.active ul li:nth-child(4) {
      animation-delay: 0.8s; }
  #navmenu .list-container.active button {
    animation: onePulse 0.6s forwards linear; }
  #navmenu .list-container.active .menu-icon-wrapper {
    transform: rotate(-45deg); }
    #navmenu .list-container.active .menu-icon-wrapper :first-child {
      transform: rotate(-90deg) translateX(1px); }
    #navmenu .list-container.active .menu-icon-wrapper :last-child {
      transform: rotate(-90deg) translateX(-1px); }
@keyframes onePulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(245, 213, 30, 0.3); }
  50% {
    box-shadow: 0px 0px 0px 12px rgba(245, 213, 30, 0.1); }
  100% {
    box-shadow: 0px 0px 0px 4px rgba(245, 213, 30, 0.3); } }
@keyframes fadeInItem {
  100% {
    transform: translatex(0px);
    opacity: 1; } }
.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out; }
  .modal .full-img {
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out; }

.modal.open {
  opacity: 1;
  pointer-events: all; }

.full-img.open {
  transform: translate(-50%, -50%) scale(1); }

body {
  height: 100%;
  background: #252527;
  overflow-x: hidden; }

main {
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in; }

::-webkit-scrollbar {
  display: none; }

/*# sourceMappingURL=main.css.map */
