*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth; }

@media all and (max-width: 1080) {
  #home {
    display: none; } }
@font-face {
  font-family: 'Cera Light';
  src: url(../fonts/CeraPro/Cera-Pro-Light.otf); }
@font-face {
  font-family: 'Cera Regular Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Regular-Italic.otf); }
@font-face {
  font-family: 'Cera Medium';
  src: url(../fonts/CeraPro/Cera-Pro-Medium.otf); }
@font-face {
  font-family: 'Cera Bold';
  src: url(../fonts/CeraPro/Cera-Pro-Bold.otf); }
@font-face {
  font-family: 'Cera Black';
  src: url(../fonts/CeraPro/Cera-Pro-Black.otf); }
@font-face {
  font-family: 'Cera Black Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Black-Italic.otf); }
#navmenu {
  position: fixed;
  left: 1225px;
  top: 25px;
  opacity: 1;
  z-index: 5; }
  #navmenu .list-container {
    position: relative; }
    #navmenu .list-container button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-size: 1.5em;
      background: #252527;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 0;
      cursor: pointer;
      transition: 0.2s ease-in;
      z-index: 2; }
      #navmenu .list-container button .menu-icon-wrapper {
        border-radius: 2px;
        width: 20px;
        height: 20px;
        display: inherit;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform .33s ease-out; }
        #navmenu .list-container button .menu-icon-wrapper span {
          background: whitesmoke;
          border-radius: 2px;
          width: 100%;
          height: 2px; }
        #navmenu .list-container button .menu-icon-wrapper :first-child {
          transition: transform 0.3s cubic-bezier(0.52, -0.8, 0.52, 0.52);
          transform-origin: right;
          width: 50%; }
        #navmenu .list-container button .menu-icon-wrapper :last-child {
          align-self: flex-end;
          transition: transform 0.3s cubic-bezier(0.52, -0.8, 0.52, 0.52);
          transform-origin: left;
          width: 50%; }
    #navmenu .list-container ul {
      display: flex;
      list-style-type: none;
      width: 140px;
      height: 170px;
      padding: 6px;
      position: absolute;
      right: 300px;
      top: 0;
      opacity: 0;
      transform: scale(0);
      transform-origin: top right;
      transition: all 0.3s ease 0.1s; }
      #navmenu .list-container ul li {
        margin-left: 20px;
        opacity: 0;
        padding: 10px;
        position: relative;
        transition: 0.2s ease-in;
        transform: translatex(-10px);
        text-decoration: none; }
        #navmenu .list-container ul li a {
          text-decoration: none;
          color: whitesmoke;
          text-transform: uppercase;
          font-family: "Cera Medium";
          line-height: 1.25em;
          font-size: 0.85em; }
      #navmenu .list-container ul li a:hover {
        color: #c7a05b; }
  #navmenu .list-container.active ul {
    opacity: 1;
    transform: scale(1); }
    #navmenu .list-container.active ul li {
      animation: fadeInItem 0.6s 0.2s forwards; }
    #navmenu .list-container.active ul li:nth-child(2) {
      animation-delay: 0.4s; }
    #navmenu .list-container.active ul li:nth-child(3) {
      animation-delay: 0.6s; }
    #navmenu .list-container.active ul li:nth-child(4) {
      animation-delay: 0.8s; }
  #navmenu .list-container.active button {
    animation: onePulse 0.6s forwards linear; }
  #navmenu .list-container.active .menu-icon-wrapper {
    transform: rotate(-45deg); }
    #navmenu .list-container.active .menu-icon-wrapper :first-child {
      transform: rotate(-90deg) translateX(1px); }
    #navmenu .list-container.active .menu-icon-wrapper :last-child {
      transform: rotate(-90deg) translateX(-1px); }
@keyframes onePulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(245, 213, 30, 0.3); }
  50% {
    box-shadow: 0px 0px 0px 12px rgba(245, 213, 30, 0.1); }
  100% {
    box-shadow: 0px 0px 0px 4px rgba(245, 213, 30, 0.3); } }
@keyframes fadeInItem {
  100% {
    transform: translatex(0px);
    opacity: 1; } }
@font-face {
  font-family: 'Cera Light';
  src: url(../fonts/CeraPro/Cera-Pro-Light.otf); }
@font-face {
  font-family: 'Cera Regular Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Regular-Italic.otf); }
@font-face {
  font-family: 'Cera Medium';
  src: url(../fonts/CeraPro/Cera-Pro-Medium.otf); }
@font-face {
  font-family: 'Cera Bold';
  src: url(../fonts/CeraPro/Cera-Pro-Bold.otf); }
@font-face {
  font-family: 'Cera Black';
  src: url(../fonts/CeraPro/Cera-Pro-Black.otf); }
@font-face {
  font-family: 'Cera Black Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Black-Italic.otf); }
@media (max-width: 1080px) {
  body #web-logo {
    position: absolute;
    height: 60px;
    left: 25px;
    top: 2vh; }

  body span.dot {
    position: absolute;
    top: 200px;
    right: 170px;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid #c7a05b; }

  body #navmenu {
    left: 1000px; }

  body #home #landing .container-inner .image-wrapper img {
    height: 300px;
    width: 300px; }
  body #home #landing .main-content .more-info {
    margin-left: 215px; }
    body #home #landing .main-content .more-info h4 {
      margin-bottom: 2px; }
  body #home #landing .main-headings {
    font-size: 1.25em;
    margin-left: 50px; }
    body #home #landing .main-headings h1 {
      margin-top: 1px; }
    body #home #landing .main-headings h3 {
      margin-left: 55px; }
    body #home #landing .main-headings button {
      font-size: 1.5em;
      margin-bottom: 10px; } }
@media (max-width: 1020px) {
  body #web-logo {
    position: absolute;
    height: 60px;
    left: 20px;
    top: 1vh; }

  body span.dot {
    position: absolute;
    top: 210px;
    right: 100px;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid #c7a05b; }

  body #navmenu {
    left: 725px; }

  body #home #landing .container-inner .image-wrapper img {
    height: 300px;
    width: 300px; }
  body #home #landing .main-content .more-info {
    margin-left: 160px; }
    body #home #landing .main-content .more-info h4 {
      margin-bottom: 2px; }
  body #home #landing .main-headings {
    font-size: 1em;
    margin-left: 10px; }
    body #home #landing .main-headings h1 {
      margin-top: 1px; }
    body #home #landing .main-headings h3 {
      margin-left: 55px; }
    body #home #landing .main-headings button {
      font-size: 1.5em;
      margin-bottom: 10px; } }
@media (max-width: 667px) {
  body #web-logo {
    display: none; }

  body span.dot {
    position: absolute;
    top: 210px;
    right: 100px;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid #c7a05b; }

  body #navmenu {
    left: 780px; }

  body #home #landing .container-inner .image-wrapper img {
    height: 300px;
    width: 300px; }
  body #home #landing .main-content .more-info {
    margin-left: 160px; }
    body #home #landing .main-content .more-info h4 {
      margin-bottom: 2px; }
  body #home #landing .main-headings {
    font-size: 1em;
    margin-left: 10px; }
    body #home #landing .main-headings h1 {
      margin-top: 1px; }
    body #home #landing .main-headings h3 {
      margin-left: 55px; }
    body #home #landing .main-headings button {
      font-size: 1.5em;
      margin-bottom: 10px; } }
@media (max-width: 375px) {
  body #web-logo {
    position: absolute;
    height: .1px;
    left: 0;
    top: 2vh; }

  body span.dot {
    position: absolute;
    top: 210px;
    right: 100px;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid #c7a05b; }

  body #navmenu {
    left: 320px; }
    body #navmenu ul {
      padding: 0; }
      body #navmenu ul li {
        padding: 0;
        font-size: .01em; }

  body #home #landing .container-inner .image-wrapper img {
    margin-top: 50px;
    height: 500px;
    width: 500px; }
  body #home #landing .main-content .more-info h4 {
    margin-bottom: 2px; }
  body #home #landing .main-headings {
    font-size: .5em;
    margin-right: 100px; }
    body #home #landing .main-headings h1 {
      margin-top: 1px; }
    body #home #landing .main-headings button {
      font-size: 1.5em;
      margin-bottom: 10px; } }
span.dot {
  position: absolute;
  top: 200px;
  right: 165px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: inline-block;
  border: 10px solid #c7a05b; }

#landing {
  margin: 0 auto;
  padding-top: 75px;
  width: 90vw;
  height: 100vh;
  font-size: 1em;
  color: whitesmoke; }
  #landing .container-inner {
    display: flex;
    position: relative;
    align-items: center;
    animation: fade-in 1.5s ease, slide-in 1.2s ease; }
    #landing .container-inner .main-content {
      display: flex;
      flex-direction: column; }
      #landing .container-inner .main-content .main-headings {
        width: 100%;
        display: flex;
        flex-direction: column;
        animation: scaleDown 4s ease 2s;
        -webkit-animation: scaleDown 4s ease 2s;
        transition: transform .3s ease; }
        #landing .container-inner .main-content .main-headings div {
          margin-top: 10px;
          margin-left: 100px; }
          #landing .container-inner .main-content .main-headings div :first-child, #landing .container-inner .main-content .main-headings div :nth-child(2) {
            font-family: 'Cera Light';
            font-size: 400%; }
          #landing .container-inner .main-content .main-headings div :first-child {
            margin-left: 70px; }
          #landing .container-inner .main-content .main-headings div :nth-child(2) {
            margin-left: 120px; }
          #landing .container-inner .main-content .main-headings div :last-child {
            margin-top: -40px;
            font-size: 800%;
            font-weight: 800;
            letter-spacing: 2px;
            color: #c7a05b;
            text-shadow: 0 2px 0 #161616, 0 2px 0 #1a1a1a, 0 3px 0 #1d1d1d, 0 4px 0 #272727, 0 5px 0 #1a1a1a, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }
        #landing .container-inner .main-content .main-headings button {
          cursor: pointer;
          padding: 10px;
          margin-left: 110px;
          align-self: flex-start;
          font-weight: bold;
          font-size: 120%;
          font-family: 'Cera Medium';
          text-decoration: none;
          color: #c7a05b;
          background: transparent; }
      #landing .container-inner .main-content .more-info {
        margin-top: -30px;
        width: 50%;
        height: 0;
        margin-left: 180px;
        margin-right: auto;
        overflow: hidden;
        animation: reveal-info 3s ease 2s;
        -webkit-animation: reveal-info 3s ease 2s;
        transition: height .3s ease; }
        #landing .container-inner .main-content .more-info h4 {
          font-family: 'Cera Medium';
          margin-bottom: 15px;
          color: #c7a05b; }
        #landing .container-inner .main-content .more-info h2 {
          font-family: 'Cera Medium'; }
        #landing .container-inner .main-content .more-info p {
          font-family: 'Cera Light'; }
    #landing .container-inner .image-wrapper {
      margin-top: 75px;
      width: 80%;
      height: 80%;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      #landing .container-inner .image-wrapper img {
        width: 80%;
        height: auto;
        position: relative;
        cursor: pointer; }
  #landing .move-down {
    position: absolute;
    left: 50%;
    bottom: 7%; }
    #landing .move-down a {
      color: whitesmoke; }
      #landing .move-down a :hover {
        color: #c7a05b; }

@media (min-width: 350px) and (max-width: 529px) {
  * {
    animation-name: none !important; }

  article.container {
    width: 90%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 5px;
    margin-bottom: 20px; }

  .container-inner {
    flex-direction: column !important;
    justify-content: center !important; }

  .main-content, .image-wrapper {
    flex-basis: 100% !important; }

  .main-content {
    order: 2 !important;
    outline: 1px solid red;
    margin: 0 50px; }

  .image-wrapper {
    order: 1 !important; }

  .heading {
    margin-left: 55px !important; }

  #heading1, #heading2 {
    margin: 0;
    margin-top: -5px !important; }

  #heading2 {
    margin-left: 100px !important; }

  #heading3 {
    margin-top: -20px !important; }

  .short-bio {
    margin-top: -10px !important;
    margin-left: 60px !important; }

  .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    font-size: 8px; }

  .link {
    display: none; }

  .image-wrapper {
    order: 1 !important;
    width: 100%;
    height: 100px !important;
    justify-content: center !important; }

  .image-container {
    width: 100% !important;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    margin-left: auto;
    margin-right: auto; } }
@media (min-width: 530px) and (max-width: 699px) {
  * {
    animation-name: none !important; }

  #landing {
    width: 90%;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 8px; }

  .container-inner {
    flex-direction: column !important;
    justify-content: center !important; }

  .main-content, .image-wrapper {
    flex-basis: 100% !important; }

  .main-content {
    width: 80%;
    order: 2 !important;
    align-self: center !important; }

  .main-headings {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; }

  .heading {
    margin-left: 55px !important; }

  #heading1, #heading2 {
    margin: 0;
    margin-top: -15px !important; }

  #heading3 {
    margin-top: -30px !important; }

  .short-bio {
    margin-top: -20px !important;
    margin-left: 60px !important; }

  .link {
    display: none; }

  .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    text-align: justify; }

  .image-wrapper {
    order: 1 !important;
    width: 100%;
    height: 400px;
    justify-content: center !important; }

  .image-container {
    width: 100% !important;
    height: 400px;
    margin-left: auto;
    margin-right: auto; }

  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    margin-left: auto;
    margin-right: auto; } }
@media (min-width: 700px) and (max-width: 1200px) {
  #landing {
    width: 100%;
    height: auto;
    font-size: 9px; }

  #heading3 {
    margin-top: -35px !important; }

  .link {
    margin-left: 30px; }

  .more-info {
    margin-top: -40px !important; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes slide-in {
  0% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(0); } }
@keyframes scaleDown {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(0.7); }
  95% {
    transform: scale(0.7); }
  100% {
    transform: scale(1); } }
@keyframes reveal-info {
  0% {
    height: 0; }
  5% {
    height: 150px; }
  95% {
    height: 150px; }
  100% {
    height: 0; } }
@font-face {
  font-family: 'Cera Light';
  src: url(../fonts/CeraPro/Cera-Pro-Light.otf); }
@font-face {
  font-family: 'Cera Regular Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Regular-Italic.otf); }
@font-face {
  font-family: 'Cera Medium';
  src: url(../fonts/CeraPro/Cera-Pro-Medium.otf); }
@font-face {
  font-family: 'Cera Bold';
  src: url(../fonts/CeraPro/Cera-Pro-Bold.otf); }
@font-face {
  font-family: 'Cera Black';
  src: url(../fonts/CeraPro/Cera-Pro-Black.otf); }
@font-face {
  font-family: 'Cera Black Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Black-Italic.otf); }
.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw; }
  .section :first-child.slide-section {
    transform: translateX(-100px);
    opacity: 0;
    transition: 1s ease-out;
    line-height: 1.5em;
    font-size: 1.25em;
    width: 500px;
    font-family: 'Cera Light';
    color: whitesmoke;
    text-align: right; }
  .section :first-child.slide-section.faded-in {
    transform: translateX(0);
    opacity: 1; }
  .section :nth-child(2).slide-section {
    line-height: 1.5em;
    font-size: 1.25em;
    width: 500px;
    font-family: 'Cera Light';
    color: whitesmoke;
    text-align: right;
    transform: translateX(100px);
    opacity: 0;
    transition: 1s ease-out; }
  .section :nth-child(2).slide-section.faded-in {
    transform: translateX(0);
    opacity: 1; }
  .section .move-down {
    position: relative;
    left: 100%;
    bottom: 7%; }
    .section .move-down a {
      color: whitesmoke; }
      .section .move-down a :hover {
        color: #c7a05b; }

#arc2 {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-around;
  align-items: center; }
  #arc2 #arc2__right span {
    color: #808080; }
  #arc2 #arc2__right h4#first {
    font-family: 'Cera Light';
    color: whitesmoke;
    font-size: .95em;
    margin-right: 200px;
    text-align: left;
    margin-bottom: 150px; }
  #arc2 #arc2__right h4#second {
    font-family: 'Cera Light';
    color: whitesmoke;
    font-size: 1em;
    margin-right: 200px;
    text-align: left; }
  #arc2 .img-box {
    display: flex;
    flex-direction: column; }
    #arc2 .img-box :first-child {
      height: 200px;
      width: 200px;
      transform: translateY(60px);
      transition: 1s ease;
      animation: idleup 7s infinite;
      z-index: 3; }
@keyframes idleup {
  0% {
    transform: translateY(-20px); }
  50% {
    transform: translateY(50px); }
  100% {
    transform: translateY(-20px); } }
    #arc2 .img-box :first-child:hover {
      transform: translateY(0px); }
    #arc2 .img-box :nth-child(2) {
      height: 200px;
      width: 200px;
      transform: translateY(-40px); }
    #arc2 .img-box :last-child {
      height: 190px;
      width: 190px;
      transform: translateY(-130px);
      transition: 1s ease;
      animation: idledown 7s infinite; }
@keyframes idledown {
  0% {
    transform: translateY(-30px); }
  50% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(-30px); } }
    #arc2 .img-box :last-child:hover {
      transform: translateY(-70px); }

@font-face {
  font-family: 'Cera Light';
  src: url(../fonts/CeraPro/Cera-Pro-Light.otf); }
@font-face {
  font-family: 'Cera Regular Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Regular-Italic.otf); }
@font-face {
  font-family: 'Cera Medium';
  src: url(../fonts/CeraPro/Cera-Pro-Medium.otf); }
@font-face {
  font-family: 'Cera Bold';
  src: url(../fonts/CeraPro/Cera-Pro-Bold.otf); }
@font-face {
  font-family: 'Cera Black';
  src: url(../fonts/CeraPro/Cera-Pro-Black.otf); }
@font-face {
  font-family: 'Cera Black Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Black-Italic.otf); }
#visit-arc {
  height: 85vh;
  border: 1px #c7a05b solid;
  margin: 0 150px;
  border-radius: 15px;
  margin-bottom: 10vh; }
  #visit-arc h1 {
    margin-top: 25px;
    font-family: 'Cera Bold';
    color: #c7a05b;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center; }
  #visit-arc .content {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    color: whitesmoke; }
    #visit-arc .content :first-child {
      width: 90%; }
      #visit-arc .content :first-child span {
        font-family: 'Cera Medium'; }
        #visit-arc .content :first-child span i {
          display: inline;
          color: #c7a05b; }
        #visit-arc .content :first-child span h3 {
          display: inline;
          margin-left: 10px;
          font-size: 1.5em; }
        #visit-arc .content :first-child span h3:nth-child(4) {
          margin-left: 100px; }
        #visit-arc .content :first-child span h3:nth-child(11) {
          margin-left: 15px; }
      #visit-arc .content :first-child p {
        margin-top: 15px;
        font-family: 'Cera Light';
        font-size: 1.15em; }
    #visit-arc .content h3 {
      font-size: 1.5em;
      font-family: 'Cera Medium'; }
      #visit-arc .content h3 ul {
        font-family: 'Cera Light';
        font-size: .75em;
        list-style: none; }
        #visit-arc .content h3 ul li {
          margin-bottom: 10px; }
        #visit-arc .content h3 ul button {
          font-family: 'Cera Medium', sans-serif;
          display: flex;
          overflow: hidden;
          padding: 12px 25px;
          cursor: pointer;
          user-select: none;
          transition: all 150ms linear;
          text-align: center;
          text-decoration: none !important;
          text-transform: uppercase;
          border-radius: 36px;
          font-size: .9em;
          appearance: none;
          justify-content: center;
          align-items: center;
          color: whitesmoke;
          background: black;
          margin-top: 20px;
          margin-left: 200px; }
          #visit-arc .content h3 ul button:focus {
            outline: 1px dotted #959595;
            outline-offset: -4px; }
          #visit-arc .content h3 ul button:hover {
            color: #202129;
            background: #e1e2e2;
            opacity: 1; }
          #visit-arc .content h3 ul button:active {
            background: #d5d6d6;
            opacity: 1; }

@font-face {
  font-family: 'Cera Light';
  src: url(../fonts/CeraPro/Cera-Pro-Light.otf); }
@font-face {
  font-family: 'Cera Regular Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Regular-Italic.otf); }
@font-face {
  font-family: 'Cera Medium';
  src: url(../fonts/CeraPro/Cera-Pro-Medium.otf); }
@font-face {
  font-family: 'Cera Bold';
  src: url(../fonts/CeraPro/Cera-Pro-Bold.otf); }
@font-face {
  font-family: 'Cera Black';
  src: url(../fonts/CeraPro/Cera-Pro-Black.otf); }
@font-face {
  font-family: 'Cera Black Italic';
  src: url(../fonts/CeraPro/Cera-Pro-Black-Italic.otf); }
footer {
  padding-top: 115px;
  background: #c7a05b; }
  footer .container {
    display: flex;
    justify-content: space-around; }
    footer .container .row {
      width: 500px;
      height: 250px; }
      footer .container .row button {
        font-family: 'Cera Medium', sans-serif;
        display: flex;
        overflow: hidden;
        padding: 12px 25px;
        cursor: pointer;
        user-select: none;
        transition: all 150ms linear;
        text-align: center;
        text-decoration: none !important;
        border-radius: 36px;
        font-size: .9em;
        appearance: none;
        justify-content: center;
        align-items: center;
        flex: 0 0 160px;
        color: whitesmoke;
        background: black; }
        footer .container .row button:focus {
          outline: 1px dotted #959595;
          outline-offset: -4px; }
        footer .container .row button:hover {
          color: #202129;
          background: #e1e2e2;
          opacity: 1; }
        footer .container .row button:active {
          background: #d5d6d6;
          opacity: 1; }
      footer .container .row form {
        display: flex; }
      footer .container .row .group {
        position: relative; }
      footer .container .row input {
        font-size: 1em;
        padding: 10px 10px 10px 5px;
        width: 220px;
        border: none;
        background: transparent;
        border-bottom: .15em black solid; }
      footer .container .row input:focus {
        outline: none; }
      footer .container .row label {
        font-family: 'Cera Light';
        color: black;
        font-size: 1em;
        position: absolute;
        pointer-events: none;
        left: 20px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all; }
      footer .container .row input:focus ~ label, footer .container .row input:valid ~ label {
        top: -15px;
        font-size: .85em;
        color: #252527; }
      footer .container .row .bar:before {
        left: 50%; }
      footer .container .row .bar:after {
        right: 50%; }
      footer .container .row input:focus ~ .bar:before, footer .container .row input:focus ~ .bar:after {
        width: 50%; }
      footer .container .row .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5; }
      footer .container .row input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease; }
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
    footer .container .row:first-child h4, footer .container .row:last-child h4 {
      text-transform: uppercase;
      font-family: 'Cera Light';
      text-align: center; }
    footer .container .row:first-child input {
      margin: 0 20px; }
    footer .container .row:first-child button {
      margin-top: 20px;
      margin-left: 45%; }
    footer .container .row:first-child h1 {
      margin-top: 20px;
      text-align: center;
      font-family: 'Cera Medium';
      font-size: 2em;
      margin-bottom: 30px; }
    footer .container .row:last-child .location {
      display: flex;
      margin-top: 20px;
      justify-content: space-around; }
      footer .container .row:last-child .location .col {
        display: flex;
        flex-direction: column;
        width: 195px;
        height: 200px; }
        footer .container .row:last-child .location .col a {
          color: black;
          font-family: 'Cera Light';
          margin-left: 25%;
          text-decoration: underline; }
        footer .container .row:last-child .location .col img {
          height: 80px; }
    footer .container hr {
      border: 0.15em solid #252527;
      margin: 0 0; }
    footer .container h2 {
      text-align: center;
      font-family: 'Cera Medium';
      font-size: 1.25em; }
    footer .container h4 {
      font-size: .95em;
      text-align: center;
      font-family: 'Cera Light';
      letter-spacing: .1em; }
  footer .footer-bottom {
    display: flex;
    height: 115px;
    justify-content: space-around; }
    footer .footer-bottom div {
      height: 100px;
      width: 250px; }
    footer .footer-bottom .social-links {
      display: flex;
      align-items: center; }
    footer .footer-bottom .social-links i {
      margin-left: 25px;
      font-size: 1.25em; }
    footer .footer-bottom .footer-nav {
      display: flex;
      justify-content: space-evenly;
      width: 600px;
      align-items: center; }
      footer .footer-bottom .footer-nav a {
        text-decoration: none;
        color: black; }

.background {
  padding: 0 25px 25px;
  position: relative;
  width: 80%; }

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px; } }
.background .container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%; }

.background .container .panel {
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%; }

.pricing-table {
  display: flex;
  flex-direction: column; }

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row; } }
.pricing-table * {
  text-align: center;
  text-transform: uppercase; }

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px; }

.pricing-plan:last-child {
  border-bottom: none; }

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px; }

  .pricing-plan:last-child {
    border-right: none; } }
.pricing-img {
  margin-bottom: 25px;
  max-width: 100%; }

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px; }

.pricing-features {
  color: #016FF9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
  list-style: none; }

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0; }

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff; }

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700; }

.pricing-button {
  background: #c7a05b;
  border-radius: 10px;
  color: white;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out; }

.pricing-button:hover,
.pricing-button:focus {
  background: #c7a05b;
  color: white; }

.pricing-button.is-featured {
  background: #c7a05b;
  color: #fff; }

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff; }

.wrapper {
  position: fixed;
  top: 0;
  left: 25px;
  width: 20px;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden; }

.nav-dots {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 5; }

.nav-dot {
  width: 8px;
  height: 8px;
  margin: 25px auto;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 300ms ease-out; }

.nav-dot.active {
  background: red; }

.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out; }
  .modal .full-img {
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out; }

.modal.open {
  opacity: 1;
  pointer-events: all; }

.full-img.open {
  transform: translate(-50%, -50%) scale(1); }

body {
  background: #252527;
  overflow-x: hidden; }

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #252527; }

::-webkit-scrollbar {
  width: 8px;
  background: #252527; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c7a05b; }

body #web-logo {
  position: absolute;
  height: 60px;
  left: 50px;
  top: 3vh; }

/*# sourceMappingURL=main.css.map */
