@import '../../utils/variables', '../../utils/fontface';

#exhibition-arc {
  #heading {
    font-family: 'Cera Medium';
    color: #c7a05b;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-left: 30px;
  }
  .row {
    margin-top: 5vh;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    height: 60vh;
    width: 20vw;
  }
  .card .wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  }
  .card .wrapper:hover .data {
    transform: translateY(0);
  }
  .card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
  }
  .card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
  }
  .card .author {
    font-size: 12px;
  }
  .card .title {
    margin-bottom: 30px;
  }
  .card .text {
    height: 70px;
    margin: 0;
  }
  .card input[type=checkbox] {
    display: none;
  }

  .card:first-child .wrapper {
    background: url(../docs/img/059ce3112176709.600fec3f723e5.jpg) center/cover no-repeat;
  }
  .card:nth-child(2) .wrapper {
    background: url(../docs/img/btfrxqgudrfnclxwpad2.jpg) center/cover no-repeat;
  }
  .card:nth-child(3) .wrapper {
    background: url(../docs/img/c69355112176709.600fec3f72b54.jpg) center/cover no-repeat;
  }
  .card:last-child .wrapper {
    background: url(../docs/img/e05257112176709.600fec3f71242.jpg) center/cover no-repeat;
  }
  .card .header {
    color: whitesmoke;
    padding: 1em;
  }
  .card .header::before, .card .header::after {
    content: "";
    display: table;
  }
  .card .header::after {
    clear: both;
  }
  .card .header .date {
    float: left;
    font-size: 12px;
  }
  .card .data {
    color:whitesmoke;
    transform: translateY(calc(70px + 4em));
  }
  .card .title a {
    color: whitesmoke;
  }
  .card .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 1;
    position: relative;
    font-weight: 700;
  }
  .card .button::after {
    content: "→";
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s;
  }
  .card .button:hover::after {
    transform: translate(5px, -50%);
    opacity: 1;
  }
}