@import 'landing-section/landingSection';
@import 'history','visit';
@import 'footer-section/footer';
@import 'exhibitions-section/exhibitionsSection';
@import '../../components/cards.scss', '../../components/navDots';

.transition-circle.active#home-arc {
  opacity: 1;
  clip-path: circle(75%);
  overflow-y: scroll;
}