@import 'signinBtn', 'textFields', 'labels';

@mixin signinForm() {
  @media (max-width: 1920px) and (max-height: 1080px) { 
    form { 
      .group { 
        position:relative;  
        @include textFields();
        @include labels();
      }
      @include signinBtn();
    }
  }
  
  @media (max-width: 1366px) and (max-height: 768px) { 
    form .group { 
      margin-left: 9vw;
    }
  }
  
  @media (max-width: 768px) and (max-height: 1024px) { 
    form .group { 
      margin-left: 33vw;
    }
  }
  
  @media (max-width: 375px) and (max-height: 667px) { }
  
  @media (max-width: 360px) and (max-height: 720px) { }
  
  @media (max-width: 360px) and (max-height: 640px) { 
    form .group { 
      margin-left: 20vw;
    }
  }
  @media (max-width: 320px) and (max-height: 480px) { 
    form .group { 
      margin-left: 15vw;
    }
  }

  @media (max-width: 240px) and (max-height: 320px) { 
    form .group { 
      margin-left: 10vw;
    }
  }
}