@mixin textFields() {
  @media (max-width: 1920px) and (max-height: 1080px) { 
    input{
      margin: 0 15px;
      font-size: 1em;
      padding: 8px 5px;
      width: 220px;
      border:none;
      background: transparent;
      border-bottom: .15em black solid;
    }
    input:focus{ 
      outline:none; 
    }
  }
  
  @media (max-width: 1366px) and (max-height: 768px) {
    input{
      margin: 0 0;
      font-size: 1em;
      padding: 8px 5px;
      width: 20vw;
      border:none;
      background: transparent;
      border-bottom: .15em black solid;
    }
    input:focus{ 
      outline:none; 
    }
   }
  
  @media (max-width: 768px) and (max-height: 1024px) { }
  
  @media (max-width: 384px) and (max-height: 640px) { 
    input{
      margin: 0 0;
      font-size: 1em;
      padding: 8px 5px;
      width: 190px;
    }
  }

  @media (max-width: 375px) and (max-height: 667px) { }

  @media (max-width: 360px) and (max-height: 740px) { 
    input{
      margin: 0 0;
      font-size: 1em;
      padding: 8px 5px;
      width: 190px;
    }
  }

  @media (max-width: 360px) and (max-height: 740px) { 
    input{
      margin: 0 0;
      font-size: 1em;
      padding: 8px 5px;
      width: 60vw;
    }
  }

  @media (max-width: 360px) and (max-height: 720px) { }
  
  @media (max-width: 360px) and (max-height: 640px) { 
    input{
      margin: 0 0;
      font-size: 1em;
      padding: 8px 5px;
      width: 220px;
    }
  }
  @media (max-width: 240px) and (max-height: 320px) { 
    input{
      margin: 0 0;
      font-size: 1em;
      padding: 8px 5px;
      width: 190px;
    }
  }
}