//#region Utils
@import 'utils/resets';
@import 'utils/variables';
@import 'utils/fontface';
@import 'utils/scrollbar';
//#endregion
//#region Components
@import 'components/transitionCircle';
@import 'components/nav/nav';
//#endregion
//#region Pages
@import 'pages/home/home';
//#endregion

body {
  background: $bgColor;
  #home-arc {
  position: relative;
  width: 100%;
  overflow: hidden !important;
  }
  #web-logo {
  position: absolute; 
  max-height: 60px; 
  left: 50px; 
  top: 3vh;
  }
}

@media(max-width: 768px){
  body #home-arc::-webkit-scrollbar {
    display: none;
  }
  body #home-arc {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
}
