@import 'utils/resets', 'contents/newsBtn';
@import 'contents/landing', 'contents/home';
@import 'contents/sections';
@import 'contents/navbar', 'contents/navMenu';
@import 'contents/imgModal';

body {
  background: $bgColor;
  overflow-x: hidden;
  // box-shadow: inset 0 0 100px rgb(10, 10, 10);
}
main {
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in; 
}
::-webkit-scrollbar {
  display: none;
}