@mixin landingMore() {
  .more-info {
    font-size: .85em;
    width: 300px;
    height: 0;
    margin-left: 45px;
    overflow: hidden;
    animation: reveal-info 3s ease 2s;
    transition: all .2s ease;
    border-radius: 25px;
    h4 {
      font-family: 'Cera Medium';
      color: $primaryColor;
      text-transform: uppercase;
    }
    p {
      font-family: 'Cera Light';
    }
  }
  .more-info.active {
    margin-top: -25px;
    padding: 20px;
    height: 165px;
    border: 1px solid $primaryColor; 
  }
}