@import 'nav', 'socialLinks';

@mixin bottom() {
  @media (max-width: 1920px) and (max-height: 1080px) { 
    .footer-bottom {
      display: flex;
      height: 115px;
      justify-content: space-around;
      @include socialLinks();
      @include nav();
      img {
        position: relative; 
        height: 90px;
      }
    }
  }
  
  @media (max-width: 1366px) and (max-height: 768px) { }
  
  @media (max-width: 768px) and (max-height: 1024px) {   
    .footer-bottom {
      height: 10%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      img {
        height: 80px;
      }
    }
  }
  
  @media (max-width: 375px) and (max-height: 667px) { }
  
  @media (max-width: 360px) and (max-height: 720px) { }
  
  @media (max-width: 360px) and (max-height: 640px) { 
    .footer-bottom {
      height: 10%;
      flex-direction: column;
      align-items: center;
      img {
        height: 80px;
      }
    }
  }
}