@mixin socialLinks() {
  @media (max-width: 1920px) and (max-height: 1080px) { 
    .social-links {
      display: flex;
      align-items: center;
      i {
        margin-left: 25px;
        font-size: 20px;
        cursor: pointer;
        transition: color .3s ease;
      }
      i:hover {
        color: $fontColor;
      }
    }
  }
  
  @media (max-width: 1366px) and (max-height: 768px) { }
  
  @media (max-width: 768px) and (max-height: 1024px) { }
  
  @media (max-width: 375px) and (max-height: 667px) { }
  
  @media (max-width: 360px) and (max-height: 720px) { }
  
  @media (max-width: 360px) and (max-height: 640px) { 
    .social-links {
      align-items: flex-start;
      margin-bottom: 3vh;
      i {
        margin-left: 5vw;
        font-size: 1.25em;
      }
      :first-child {
        margin-left: 0;
      }
      i:hover {
        color: $fontColor;
      }
    }
  }
}