@import 'var','fontface';

.main nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-top: 10px;
  height: 10vh;
  #logo {
    height: 35px;
    margin-left: 70px;
  }
  ul {
    text-transform: uppercase;
    padding: 0 500px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    li {
      margin-left: 50px;
      a {
        font-family: 'Cera Medium';
        font-size: .85em;
        color: whitesmoke;
        text-decoration: none;
      }
    }
  }
}