@import '../utils/var','../utils/fontface';

nav {
  // position: sticky;
  // top: 0;
  display: flex;
  justify-content:right;
  margin-right: 125px;
  height: 15vh;
  z-index: $navLayer;
  ul {
    display: inherit;
    text-transform: uppercase;
    list-style: none;
    align-items: center;
    li {
      margin-left: 50px;
      a {
        font-family: 'Cera Medium';
        font-size: .85em;
        color: $fontColor;
        text-decoration: none;
        transition: color .3s ease;
      }
      a:hover {
        color: $primaryColor;
      }
    }
  }
}