@import '../utils/var';

.wrapper{
  position: fixed;
  height: 100%;
  width: 100%;
  background: $fontColor;
  clip-path: circle(10px at calc(100% - 1253px) 48px);
  transition: all 0.3s ease-in-out;
  z-index: $darkWrapper;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.dark-btn{
  position: fixed;
  z-index: $darkBtnLayer;
  left: 85px;
  top: 37px;
  font-size: 20px;
  color: $fontColor;
  cursor: pointer;
  background: $bgColor;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
#active:checked ~ .dark-btn{
  background: transparent;
  color: black;
}
#active[type="checkbox"]{
  display: none;
}