@media(max-width: 800px){
  /*#region LandingArc */
  body #home-arc::-webkit-scrollbar {
    display: none;
  }
  body #home-arc {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  
}

@media(max-width: 768px){
  @include navMenu(
    10px, // top
    0,    // right
    50px, // btnSize
    30px, // btnRight
    140px,// listWidth  
    50px, // listHeight
    350px,// listRight
    30px, // gap
    1em // fontSize
  );
}
