@import '../../pages/home/landing/landing';

@media(max-width: 1920px){
  
  /*#region LandingArc */
  @include landingArc(
    100vh,      //viewHeight
    165px,      // top
    215px,      // left
    600px,      // imgSize
    15px,       // headingLeft
    0,          // headingRight
    6em,        // fontSize
    .85em,      // btnFontSize
    25px,       // btnRadius
    50px,       // headingOneLeft
    100px,      // headingTwoLeft
    12px 50px,  // btnPadding
    75px,       // btnLeft
    -20px,      // bigHeadingTop
    .85em,      // infoFontSize
    300px,      // infoWidth
    45px,       // infoLeft
    0,          // infoTop
    25px,       // infoRadius
    -25px,      // infoTopActive
    165px,      // infoHeightActive
    20px,       // infoPaddingActive
    1px,        // infoBorderActive
  );
  /*#endregion LandingArc */
}
@media(max-width: 1366px){ 
  /*#region LandingArc */
  @include landingArc(
    100vh,      //viewHeight
    165px,      // top
    125px,      // left
    400px,      // imgSize
    15px,       // headingLeft
    0,          // headingRight
    3.5em,      // fontSize
    .85em,      // btnFontSize
    25px,       // btnRadius
    50px,       // headingOneLeft
    100px,      // headingTwoLeft
    12px 50px,  // btnPadding
    75px,       // btnLeft
    -20px,      // bigHeadingTop
    .85em,      // infoFontSize
    300px,      // infoWidth
    45px,       // infoLeft
    0,          // infoTop
    25px,       // infoRadius
    -25px,      // infoTopActive
    165px,      // infoHeightActive
    20px,       // infoPaddingActive
    1px,        // infoBorderActive
  );
  /*#endregion LandingArc */
}
@media (max-width: 1080px){
  /*#region LandingArc */
  @include landingArc(
    100vh,      //viewHeight
    165px,      // top
    125px,      // left
    400px,      // imgSize
    15px,       // headingLeft
    0,          // headingRight
    3.5em,      // fontSize
    .85em,      // btnFontSize
    25px,       // btnRadius
    50px,       // headingOneLeft
    100px,      // headingTwoLeft
    12px 50px,  // btnPadding
    75px,       // btnLeft
    -20px,      // bigHeadingTop
    .85em,      // infoFontSize
    300px,      // infoWidth
    45px,       // infoLeft
    0,          // infoTop
    25px,       // infoRadius
    -25px,      // infoTopActive
    165px,      // infoHeightActive
    20px,       // infoPaddingActive
    1px,        // infoBorderActive
  );
  /*#endregion LandingArc */
}
@media(max-width: 1024px){
  /*#region LandingArc */
  @include landingArc(
    100vh,      // viewHeight
    130px,      // top
    50px,       // left
    325px,      // imgSize
    15px,       // headingLeft
    0,          // headingRight
    2.95em,     // fontSize
    .85em,      // btnFontSize
    25px,       // btnRadius
    50px,       // headingOneLeft
    100px,      // headingTwoLeft
    12px 50px,  // btnPadding
    75px,       // btnLeft
    -20px,      // bigHeadingTop
    .85em,       // infoFontSize
    300px,      // infoWidth
    29px,       // infoLeft
    0,          // infoTop
    25px,       // infoRadius
    -25px,      // infoTopActive
    165px,      // infoHeightActive
    20px,       // infoPaddingActive
    1px,        // infoBorderActive
  );
  /*#endregion LandingArc */
}
@media(max-width: 720px){}
@media(max-width: 667px){
  #landing .container-inner {
    flex-direction: column-reverse;
    justify-content: center;
  }
  /*#region LandingArc */
  @include landingArc(
    100vh,      // viewHeight
    75px,       // top
    40px,       // left
    325px,      // imgSize
    15px,       // headingLeft
    0,          // headingRight
    2.1em,      // fontSize
    .85em,      // btnFontSize
    25px,       // btnRadius
    50px,       // headingOneLeft
    100px,      // headingTwoLeft
    12px 50px,  // btnPadding
    75px,       // btnLeft
    -20px,      // bigHeadingTop
    .85em,      // infoFontSize
    300px,      // infoWidth
    18px,       // infoLeft
    0,          // infoTop
    25px,       // infoRadius
    -25px,      // infoTopActive
    165px,      // infoHeightActive
    20px,       // infoPaddingActive
    1px,        // infoBorderActive
  );
  /*#endregion LandingArc */
}

@media(max-width: 375px){
  #landing .container-inner {
    flex-direction: column-reverse;
    justify-content: center;
  }
  /*#region LandingArc */
  @include landingArc(
    100vh,      // viewHeight
    50px,       // top
    30px,       // left
    325px,      // imgSize
    15px,       // headingLeft
    0,          // headingRight
    2em,        // fontSize
    .85em,      // btnFontSize
    25px,       // btnRadius
    50px,       // headingOneLeft
    100px,      // headingTwoLeft
    12px 50px,  // btnPadding
    75px,       // btnLeft
    -20px,      // bigHeadingTop
    .85em,      // infoFontSize
    300px,      // infoWidth
    10px,       // infoLeft
    0,          // infoTop
    25px,       // infoRadius
    -25px,      // infoTopActive
    165px,      // infoHeightActive
    20px,       // infoPaddingActive
    1px,        // infoBorderActive
  );
  /*#endregion LandingArc */
}
  @media(max-width: 360px){
  /*#region LandingArc */
  @include landingArc(
    100vh,      // viewHeight
    145px,      // top
    120px,      // left
    400px,      // imgSize
    50px,       // headingLeft
    100px,      // headingRight
    4em,        // fontSize
    2em,        // btnFontSize
    20px,       //btnRadius
    70px,       // headingOneLeft
    120px,      // headingTwoLeft
    12px 50px,  // btnPadding
    60px,       // btnLeft
    -40px,      // bigHeadingTop
    1em,        // infoFontSize
    350px,      // infoWidth
    155px,      // infoLeft
    10px,       // infoTop
    25px,       // infoRadius
    -25px,      // infoTopActive
    165px,      // infoHeightActive
    20px,       // infoPaddingActive
    1px,        // infoBorderActive
  );
  /*#endregion LandingArc */
}

/*#region*/
// @media (min-width: 350px) and (max-width: 529px) {
//   * {
//     animation-name: none !important;
//   }

//   article.container {
//     width: 90%;
//     height: 700px;
//     margin-left: auto;
//     margin-right: auto;
//     font-size: 5px;
//     margin-bottom: 20px;
//   }

//   .container-inner {
//     flex-direction: column !important;
//     justify-content: center !important;
//   }

//   .main-content, .image-wrapper {
//     flex-basis: 100% !important;
//   }

//   .main-content {
//     order: 2 !important;
//     outline: 1px solid red;
//     margin: 0 50px;
//   }

//   .image-wrapper {
//     order: 1 !important;
//   }

//   .heading {
//     margin-left: 55px !important;
//   }

//   #heading1, #heading2 {
//     margin: 0;
//     margin-top: -5px !important;
//   }

//   #heading2 {
//     margin-left: 100px !important;
//   }

//   #heading3 {
//     margin-top: -20px !important;
//   }

//   .short-bio {
//     margin-top: -10px !important;
//     margin-left: 60px !important;
//   }

//   .more-info {
//     height: 150px !important;
//     width: 60% !important;
//     margin: 0 !important;
//     align-self: flex-start !important;
//     margin-top: 0px !important;
//     margin-left: 60px !important;
//     font-size: 8px;
//   }

//   .link {
//     display: none;
//   }

//   .image-wrapper {
//     order: 1 !important;
//     width: 100%;
//     height: 100px !important;
//     justify-content: center !important;
//   }

//   .image-container {
//     width: 100% !important;
//     height: 400px;
//     margin-left: auto;
//     margin-right: auto;
//     position: relative;
//     top: 50%;
//     transform: translateY(-50%);
//   }

//   img {
//     width: 80% !important;
//     height: auto !important;
//     top: -20px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
// @media (min-width: 530px) and (max-width: 699px) {
//   * {
//     animation-name: none !important;
//   }
//   #landing {
//     width: 90%;
//     height: 900px;
//     margin-left: auto;
//     margin-right: auto;
//     font-size: 8px;
//   }

//   .container-inner {
//     flex-direction: column !important;
//     justify-content: center !important;
//   }

//   .main-content, .image-wrapper {
//     flex-basis: 100% !important;
//   }

//   .main-content {
//     width: 80%;
//     order: 2 !important;
//     align-self: center !important;
//   }

//   .main-headings {
//     width: 100%;
//     margin-top: 20px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   .heading {
//     margin-left: 55px !important;
//   }

//   #heading1, #heading2 {
//     margin: 0;
//     margin-top: -15px !important;
//   }

//   #heading3 {
//     margin-top: -30px !important;
//   }

//   .link {
//     display: none;
//   }

//   .more-info {
//     height: 150px !important;
//     width: 60% !important;
//     margin: 0 !important;
//     align-self: flex-start !important;
//     margin-top: 0px !important;
//     margin-left: 60px !important;
//     text-align: justify;
//   }

//   .image-wrapper {
//     order: 1 !important;
//     width: 100%;
//     height: 400px;
//     justify-content: center !important;
//   }

//   .image-container {
//     width: 100% !important;
//     height: 400px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   img {
//     width: 80% !important;
//     height: auto !important;
//     top: -20px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
// @media (min-width: 700px) and (max-width: 1200px) {
//   #landing {
//     width: 100%;
//     height: auto;
//     font-size: 9px;
//   }
//   #heading3 {
//     margin-top: -35px !important;
//   }
//   .link {
//     margin-left: 30px;
//   }
//   .more-info {
//     margin-top: -40px !important;
//   }
// }
/*#endregion*/
