@mixin moreButton($left, $fontSize, $padding, $radius) {
  button {
    cursor: pointer;
    padding: $padding;
    margin-top: 25px;
    margin-left: $left;
    align-self: flex-start;
    font-weight: bold;
    font-size: $fontSize;
    font-family: 'Cera light';
    text-decoration: none;
    color: $fontColor;
    background: transparent;
    border: $fontSize * .015 solid $primaryColor;
    border-radius: $radius;
    // transition: all .2s ease;
  }
  // button:hover {
  //   padding: 12px 30px;
  //   margin-left: 80px;
  // }
}