@import 'container', 'anim';

@media (max-width: 1920px) and (max-height: 1080px) { 
  #landing {
    margin-top: 145px;
    margin-left: 155px;
    height: 80vh;
    color: $fontColor;
    @include container();
  }
  @include landingAnim();
}

@media (max-width: 1366px) and (max-height: 768px) { 
  #landing {
    margin-top: 145px;
    margin-left: 155px;
    height: 80vh;
    color: $fontColor;
    @include container();
  }
  @include landingAnim();
}

@media (max-width: 768px) and (max-height: 1024px) { 
  #landing {
    margin-top: 145px;
    margin-left: 155px;
    height: 80vh;
    color: $fontColor;
    @include container();
  }
  @include landingAnim();
}

@media (max-width: 375px) and (max-height: 667px) { 
  #landing {
    margin-top: 145px;
    margin-left: 155px;
    height: 80vh;
    color: $fontColor;
    @include container();
  }
  @include landingAnim();
}

@media (max-width: 360px) and (max-height: 720px) { 
  #landing {
    margin-top: 145px;
    margin-left: 155px;
    height: 80vh;
    color: $fontColor;
    @include container();
  }
  @include landingAnim();
}

@media (max-width: 360px) and (max-height: 640px) { 
  #landing {
    margin-top: 145px;
    margin-left: 155px;
    height: 80vh;
    color: $fontColor;
    @include container();
  }
  @include landingAnim();
}