@mixin landingMore(
  $fontSize, $width, 
  $left, $top, 
  $radius, $topActive, 
  $heightActive, $paddingActive, 
  $borderActive
  ) {
  .more-info {
    font-size: $fontSize;
    margin-top: $top;
    width: $width;
    height: 0;
    margin-left: $left;
    overflow: hidden;
    animation: reveal-info 3s ease 2s;
    // border: 1px solid $primaryColor;
    transition: all .2s ease;
    border-radius: $radius;
    h4 {
      font-family: 'Cera Medium';
      color: $primaryColor;
      text-transform: uppercase;
    }
    p {
      font-family: 'Cera Light';
    }
  }

  .more-info.active {
    margin-top: $topActive;
    padding: $paddingActive;
    height: $heightActive;
    border: $borderActive solid $primaryColor; 
  }
}