@mixin navList() {
  .list-container {
    position: relative;
    @include navButton();
    ul {
      display: flex;
      list-style-type: none;
      width: $navListWidth;
      height: $navListHeight;
      padding: 6px;
      position: absolute;
      right: 300px;
      top: 0;
      opacity: 0;
      transform: scale(0);
      transform-origin: top right;
      transition: all 0.3s ease 0.1s;
      li {
        margin-left: $navLinkGap;
        opacity: 0;
        padding: 10px;
        position: relative;
        transition: 0.2s ease-in;
        transform: translatex(-10px);
        text-decoration: none;

        a {
          text-decoration: none;
          color: $fontColor;
          text-transform: uppercase;
          font-family: $navFont;
          line-height: 1.25em;
          font-size: $navFontSize;
        }
      }
      li a:hover {
        color: $primaryColor;
      }
    }
  }
}