@mixin navList($width, $height, $right, $gap, $fontSize) {
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: $width;
    height: $height;
    position: absolute;
    right: $right;
    top: 0;
    opacity: 0;
    transform: scale(0);
    transform-origin: top right;
    transition: all 0.3s ease 0.1s;
    li {
      margin-left: $gap;
      opacity: 0;
      position: relative;
      transition: 0.3s ease-in;
      transform: translatex(-10px);

      color: $fontColor;
      text-transform: uppercase;
      font-family: $navFont;
      line-height: 1.25em;
      font-size: $fontSize;
      cursor: pointer;
      }
    li:hover {
      color: $primaryColor;
    }
  }
}