@import 'navIcon';

@mixin navButton($color) {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.5em;
    background: $color;
    width: $navButtonSize;
    height: $navButtonSize;
    border-radius: $navRadius;
    padding: 0;
    cursor: pointer;
    transition: 0.2s ease-in;
    z-index: 2;        
    @include navIcon();
  }
}