@import 'navIcon', 'navAnimations/navButtonAnim';

@mixin navButton($color) {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: $navButtonRight;
    background: $color;
    width: $navButtonSize;
    height: $navButtonSize;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in;
    z-index: $navButtonLayer;        
    @include navIcon();
  }
  @include navButtonAnim();
}