@import 'navIcon', 'navAnimations/navButtonAnim';

@mixin navButton() {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in;
    z-index: $navButtonLayer;        
    @include navIcon();
  }
  @include navButtonAnim();
}